<footer class="py-5">
  <div class="container-fluid">
    <h3>Get the FreshCart app</h3>
    <p class="text-muted ">We will send you a link, open it on your phone to download the app</p>
    <div class="row">
      <div class="col-md-10 px-4">
        <input type="text" class="form-control">
      </div>
      <div class="col-md-2 text-center">
        <button class="btn-main text-capitalize">share app link</button>
      </div>
    </div>
    <hr>
    <div class="sponsers">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-start align-items-center">
            <p class="m-0">payment patterns</p>
            <div class="imgParent ms-3">
              <img src="./assets/images/2560px-Amazon_Pay_logo.svg.png" width="60" alt="">
            </div>
            <div class="imgParent ms-2">
              <img src="./assets/images/amirecan express.png" width="60" alt="">
            </div>
            <div class="imgParent ms-2">
              <img src="../../../assets/images/mastercard-removebg-preview.png" width="40" alt="">
            </div>
            <div class="imgParent ms-2">
              <img src="../../../assets/images/PayPal-Logo.png" width="60" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center justify-content-end">
            <p class="m-0">Get deliveries with FreshCart</p>
            <div class="imgParent ms-3">
              <img src="../../../assets/images/appstorelogo-removebg-preview.png" width="80" alt="">
            </div>
            <div class="imgParent ms-2">
              <img src="../../../assets/images/1664287128google-play-store-logo-png.webp" width="80" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center text-capitalize lead text-muted">developed by ahmed mamdouh</div>
  </div>
</footer>